p {
    background-color: rgb(75, 197, 152);
    color: white;
}
a {
    background-color: rgb(32, 200, 14);
    color: rgb(203, 101, 23);  
}

b {
    color: rgb(130, 7, 60);
    font-size: 30px;;  
}